/* CSS transform is a powerful property that allows you to manipulate the position,
size, and shape of elements using transformations like translate,
rotate, scale, and skew.  */

section{
    margin-top: 100px;
}

div{
    width:200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}

div:nth-last-of-type(2n){
    background-color: #f7db6a;
}

div:nth-last-of-type(3n){
    background-color: #ebb02d;
}

#one{
    transform: rotate(45deg);
}

/* Scale
transform:scale(0.5);
transform:scale(1.5);


*/
#two{
    transform:scale(0.5);

}

#three{
    transform: translateX(-100px);
}

#four{
    transform: skew(30deg);
}

#five{
    transform: rotate(30deg) translateX(150px);
}